<div id="<%= dom_id post %>" class="post <%= post.hidden ? "hidden" : "" %>">
  <strong>
    <% if post.author.present? %>
      <%= post.author %>
    <% else %>
      anónima
    <% end %>
  </strong>
  escribió

  <% if logged_in? %>
    <div style="float: right">
    <%= post.ip_address %>
    <div style="display:inline-block;">
    <%= button_to (post.hidden ? "restaurar" : "esconder"), post, method: :delete %>
    </div>
    </div>
  <% end %>

  <%= post.body %>
</div>
